@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "OpenSans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: url("../Login__Form/Sign-Up-Background.png") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .wrapper {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  max-height: 60rem;
  margin: auto;
  padding: 3rem 4rem;
  background-image: linear-gradient(66.19deg, rgba(48, 37, 37, 0.1568) 9.36%, rgba(111, 81, 81, 0.1204) 46.36%, rgba(154, 128, 128, 0.2156) 94.32%);
  border: 1px solid rgba(226, 223, 223, 0.99);
  transition: all 0.3s linear;
}
.container .wrapper .form {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fefefe;
}
.container .wrapper .form__title {
  text-align: center;
  font-size: 4rem;
  line-height: 5.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.container .wrapper .form .sign-in {
  width: 100%;
}
.container .wrapper .form .sign-in__box {
  text-align: left;
  position: relative;
  margin-bottom: 1.5rem;
}
.container .wrapper .form .sign-in__box__input {
  color: #fefefe;
  outline: none;
  border: none;
  padding: 1rem 0 0.5rem;
  background: transparent;
  border-bottom: 1px solid #fefefe;
  width: 100%;
  font-size: 1.6rem;
}
.container .wrapper .form .sign-in__box__input:focus ~ label, .container .wrapper .form .sign-in__box__input:valid ~ label {
  top: -1.8rem;
  left: 0;
  font-size: 1.2rem;
}
.container .wrapper .form .sign-in__box__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem 0 0.5rem;
  font-size: 1.6rem;
  pointer-events: none;
  transition: all 0.3s linear;
}
.container .wrapper .form .sign-in__box:nth-of-type(4) {
  text-align: center;
}
.container .wrapper .form .sign-in__box:nth-of-type(4) .submit {
  overflow: hidden;
  position: relative;
  font-size: 2.2rem;
  font-weight: 500;
  color: #fefefe;
  width: 100%;
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 1.2rem;
  background: linear-gradient(270deg, rgba(91, 142, 189, 0.19) 0%, rgba(48, 60, 65, 0.19) 53.44%, rgba(53, 92, 104, 0.19) 100%);
  transition: all 0.3s linear;
  cursor: pointer;
  background-size: 200%;
}
.container .wrapper .form .sign-in__box:nth-of-type(4) .submit:hover {
  background-position: 300%;
}
.container .wrapper .form .sign-in__box:nth-of-type(4) .submit .effect-click {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ribble 0.5s linear forwards;
  background: rgba(48, 60, 65, 0.3);
}
.container .wrapper .form .sign-in__remember-box {
  margin-bottom: 2rem;
  position: relative;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .wrapper .form .sign-in__remember-box input[type=checkbox],
.container .wrapper .form .sign-in__remember-box label {
  display: inline-block;
}
.container .wrapper .form .sign-in__remember-box input[type=checkbox] {
  margin-right: 0.5rem;
  opacity: 0;
}
.container .wrapper .form .sign-in__remember-box input[type=checkbox]:checked + label::after {
  opacity: 1;
  visibility: visible;
}
.container .wrapper .form .sign-in__remember-box label {
  cursor: pointer;
  position: relative;
}
.container .wrapper .form .sign-in__remember-box label::before, .container .wrapper .form .sign-in__remember-box label::after {
  position: absolute;
  display: block;
  transition: all 0.3s linear;
}
.container .wrapper .form .sign-in__remember-box label::after {
  content: "✔";
  top: 1px;
  left: -2.1rem;
  opacity: 0;
  visibility: hidden;
}
.container .wrapper .form .sign-in__remember-box label:before {
  content: "";
  top: -0.01rem;
  left: -2.3rem;
  background: transparent;
  width: 1.5rem;
  border: 1px solid #fefefe;
  height: 1.5rem;
  border-radius: 50%;
}
.container .wrapper .form .sign-in .others {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .wrapper .form .sign-in .others .slash {
  margin: 0 0.5rem;
  font-size: 1.4rem;
}
.container .wrapper .form .sign-in .others .psw-forggoten,
.container .wrapper .form .sign-in .others .new-account {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #fefefe;
  font-weight: 600;
  font-size: 1.4rem;
}
.container .wrapper .form .sign-in .others .psw-forggoten span,
.container .wrapper .form .sign-in .others .new-account span {
  position: relative;
}
.container .wrapper .form .sign-in .others .psw-forggoten span::after,
.container .wrapper .form .sign-in .others .new-account span::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fefefe;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.container .wrapper .form .sign-in .others .psw-forggoten:hover span::after,
.container .wrapper .form .sign-in .others .new-account:hover span::after {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.container .wrapper .form .sign-in__with--created {
  color: #fefefe;
}
.container .wrapper .form .sign-in__with--account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .wrapper .form .sign-in__button {
  cursor: pointer;
  display: flex;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.8rem 0.5rem;
  box-sizing: border-box;
  color: #fefefe;
  border-radius: 1.2rem;
  align-items: center;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.container .wrapper .form .sign-in__button i {
  display: inline-block;
  font-size: 4rem;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}
.container .wrapper .form .sign-in__button span {
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
}
.container .wrapper .form .sign-in__button--facebook {
  background: rgba(0, 133, 255, 0.71);
  margin-bottom: 2.5rem;
}
.container .wrapper .form .sign-in__button--google {
  background: rgba(255, 31, 0, 0.76);
}
.container .wrapper .form .sign-in__button:hover {
  opacity: 0.5;
}
.container .wrapper .option {
  position: relative;
  margin: 2rem 0;
  min-width: 4.5rem;
  min-height: 4.5rem;
  background: rgba(104, 127, 134, 0.39);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.61), 0px 0px 15px rgba(27, 23, 23, 0.61);
  color: #fefefe;
  border-radius: 50%;
}
.container .wrapper .option span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .container .wrapper {
    max-width: 35rem;
  }
  .container .wrapper .form .sign-in__button span {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 424px) {
  .container .wrapper {
    max-width: 30rem;
  }
  .container .wrapper .form .sign-in__title {
    font-size: 2.5rem;
  }
  .container .wrapper .form .sign-in .others .psw-forggoten, .container .wrapper .form .sign-in .others .new-account {
    font-size: 1.1rem;
  }
  .container .wrapper .form .sign-in__button i {
    font-size: 3rem;
  }
  .container .wrapper .form .sign-in__button span {
    font-size: 1.4rem;
  }
}

.type {
  color: wheat;
}

/*# sourceMappingURL=signIn.css.map */
